/* Additional Styles for About Page */

.about {
  font-size: 20px;
  line-height: 1.6;
  padding: 20px 20px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  flex: 1;
  margin-bottom: 50px;
  color: black;
  max-width: 500px;
}
.about-text h2 {
  font-size: 3em;
  font-weight: 500;
}
.about-text h2 {
  font-size: 2em;
  color: rgb(67, 75, 81);
  margin-bottom: 15px;
}

.about-text p {
  margin-bottom: 30px;
}

.about-image {
  margin-bottom: 50px;
}
.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.about-details {
  flex: 1;
  max-width: 400px;
  color: black;
  margin-bottom: 20px;
}

.about-details h3 {
  font-size: 2em;
  color: rgb(67, 75, 81);
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 15px;
}

.about-description p {
  margin-top: 20px;
  color: black;
  margin-bottom: 0;
}

.details-list {
  margin-top: 20px;
}

.details-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.details-item span {
  color: rgb(67, 75, 81);
}

.italic {
  font-style: italic;
}

.about-skills {
  margin-top: 20px;
}

.about-skills h3 {
  font-size: 1.5em;
  color: rgb(67, 75, 81);
  text-align: center;
  text-decoration: underline 3px;
}
.skills-list {
  flex: 1;
  max-width: 400px;
}

.skills-sections {
  display: flex;
}
.gap {
  width: 50px;
}
.skills-list li {
  display: block;
  margin-bottom: 10px;
  padding: 8px 15px;
  max-width: 200px;
  background-color: #004c9e;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
}

.skills-list li:nth-child(1) {
  /* Python */
  background: linear-gradient(90deg, #ffd43b, #306998);
  color: #ffffff; /* White or any other text color that contrasts well */
}

.skills-list li:nth-child(2) {
  /* Django and django rest framework */
  background-color: #0c3e0e; /* Yellow */
  color: #f5f7f0; /* Dark Gray */
}
.skills-list li:nth-child(3) {
  /* JavaScript */
  background-color: #eae9e4; /* Yellow */
  color: #323330; /* Dark Gray */
}

.skills-list li:nth-child(4) {
  /* JavaScript */
  background-color: #f0db4f; /* Yellow */
  color: #323330; /* Dark Gray */
}

.skills-list li:nth-child(5) {
  /* HTML */
  background-color: #e44d26; /* Orange-Red */
  color: #ffffff; /* White */
}

.skills-list li:nth-child(6) {
  /* CSS */
  background-color: #264de4; /* Blue */
  color: #ffffff; /* White */
}

.skills-list li:nth-child(7) {
  /* React */
  background-color: #61dafb; /* Sky Blue */
  color: #282c34; /* Dark Gray */
}

.skills-list li:nth-child(8) {
  /* MySQL */
  background-color: #4479a1; /* Dark Blue */
  color: #ffffff; /* White */
}
