{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles %}

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-z2RHvz73u8YNRR4Ry6O/dJytKCTjsM3Vzrjuk/b1RSKOW/iuOo0Q0Jp7F7ri3s4J/tQgw78t9UZq+phqzkUgnA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />
    <link rel="stylesheet" href="{% static 'css/services.css' %}" />
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" />
    {% endblock %}
    <title>{% block title %} Pavle {%endblock%}</title>
  </head>
  {% include 'navbar.html' %}
  <div class="content-wrapper">
    <main id="main" class="main-content">
      {%block content%} replace me {%endblock%}
    </main>
  </div>

  <!-- scripts -->
  <script
    src="https://kit.fontawesome.com/f076b59054.js"
    crossorigin="anonymous"
  ></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</html>
