{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <nav id="navbar" class="nav-menu nav active">
      
      <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="{% static 'img/profile-pic.jpg' %}"
            alt="Pavle"
            height="70px"
            width="50px"
            class="img-fluid rounded-circle"
          />
          <h1 class="name"><a href="#">Pavle Stojicevic</a></h1>

          <div class="social-links mt-3">
            <a
              href="https://www.linkedin.com/in/pavle-stojicevic-639b4a204/"
              class="linkedin"
              target="_blank"
              ><i class="bx bxl-linkedin"></i
            ></a>
            <a
              href="https://www.facebook.com/pavle231/"
              class="facebook"
              target="_blank"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a
              href="https://www.instagram.com/jopas228/?igshid=OGQ5ZDc2ODk2ZA%3D%3D"
              class="instagram"
              target="_blank"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a href="https://github.com/pavle0402" target="_blank" class="github"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>

          <ul>
            <li>
              <a href="{% url 'home' %}" class="nav-link scrollto"
                ><i class="bx bx-home"></i> <span>Home</span></a
              >
            </li>
            <li>
              <a href="{% url 'about' %}" class="nav-link scrollto"
                ><i class="bx bx-user"></i> <span>About</span></a
              >
            </li>

            <li>
              <a href="{% url 'portfolio' %}" class="nav-link scrollto"
                ><i class="fa-sharp fa-solid fa-code fa-sm"></i>
                <span>Portfolio</span></a
              >
            </li>
            <li>
              <a href="{% url 'services' %}" class="nav-link scrollto"
                ><i class="bx bx-server"></i> <span>Services</span></a
              >
            </li>
            <li>
              <a href="{% url 'contact' %}" class="nav-link scrollto"
                ><i class="bx bx-envelope"></i> <span>Contact</span></a
              >
            </li>
          </ul>

      </nav>
    </header>
    </div>
</body>

<!-- End Header -->
